 /* rgb(22, 18, 14)
 #ffebd2
 rgb(231, 185, 128);
 #1b3105

 #eeb485
 
 */

body{
    background-color:#000;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    

}
header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    
    
}
.inicio{
    color:#fff ;
    font-size: 50px;
    padding: 15px;

}
h1{
    font-size: 60px;
    font-weight: bold;
}
span{
    color:rgb(231, 185, 128) ;
}
.whatsapp{
    height: 80px;
}
h3{
    color: #fff;
    font-size: 80px;
    
}
#carouselExampleFade{
    position: absolute;
    left: 50px;
    
}
.img-carrossel{
    height: 500px;
}
video{
    width: 100vw;
    min-height: 90vh;
    
}
.mascara{
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    
    
}
.conteiner{
    width:50%;
    position: absolute;
    bottom: 300px;
    left: 100px;
    margin-bottom: 20px;
    gap: 20px;

}
.conteiner h2{
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 20px;
}
.conteiner p{
    color: #fff;
    font-size: 50px;
    padding-bottom: 30px;
    
}
.link-mais{
    background-color: #fff;
    padding: 30px 50px;
    font-size: 40px;
    cursor: pointer;
    
    
}
.link-contato{
    background-color: #7c7979;
    color: #fff;
    padding: 30px 80px;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
}